

*{margin:0;
  padding:0;
  border:0;
  outline:0;}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  width: 8rem;
  height: 4rem;
}
.black {
  color: black;
}
.blanco, a, .info-precioorden, .datos-precio{
color: #ffffff;
}
button {
  font-size: 1.6rem;
}
#but{
  top: -2px;
}
/*??*/
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}


/* Rating */
.rating{
  border-radius: 2rem;
}
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}


/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* Product Details */
.productPag{
  margin-top: 10px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.details-image {

  max-width: 30rem;
  margin:0  5rem;
  
}
.details-image img {
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.detailsinfo{
  font-size: 50px; 

}
.detailsinfo2{
  font-size: 25px;
  color: #AEB6BF;

}
.details-action {
  border: 0.1rem #000;
  border-radius: 1.5rem;
  margin: 0 2rem 0 0;
  flex: 1 1 20rem;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.centerr{
  justify-content: center;
}
.buttonCart{
  background: #6c6889;
  color: #ffffff;
  border-radius: 9px;
  width: 100%;
}
.radius, select{
  border-radius: 9px;

}

.Status{
  font-size:  15PX;
}
.precioss{
  font-size: 30px;

  text-align: center;
}
.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  margin: 2rem;
  padding: 1rem;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  background: #000000;
  font-size: 15px;
  
}
.imgProduct{
  border-radius: 20px;
  /*height: 600px;
  width: 600px;
*/
}
.result{
  color: #ffffff;
  text-decoration: none;
}
.result:hover{
  color:#ffffff;
}
.details-action {
  border: 0.1rem #808080 solid;
  color: #ffffff;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;

}
.primary1{
  border: none;
  
  height: 60px;
  color: #ffffff;
  font-size: 20px;
}
.primary {
  background: #026AA2;
  height: 60px;
  border: none;
  font-size: 20px;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  justify-content: center;
  flex: 1 1 20rem;
  margin: 4rem 0;
  border: 0.1rem #c0c0c0 solid;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {

  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
  margin: 1rem;
  
}
.border{
  border-radius: 12px;
}
.cart-name {
  color: #ffffff;
  flex: 8 1;
  font-size: 18px;
}
#buttondele{
  margin: 1rem;
}
.cart-price {
  color: #ffffff;
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .border {
    width: 100px;
  }
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .form-container {
    margin-top: 20;
    width: 23rem;
  }
}

/* Products */
.product{
  
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  position: relative;
  border: 0.1rem #c0c0c0 solid;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

  

.content-margined2{
  background:rgba(0, 0, 0, 0.3) ;

  border: 0.1rem #c0c0c0 solid;
  border-radius: 1.5rem;
  border-radius: 15px;

}
.content-margined {
  background:rgba(0, 0, 0, 0.3) ;

  width: 35%;
  margin: 5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 1.5rem;
  border-radius: 15px;
  padding: 2rem;
}
td, a{
  color: #fff;
}

.table {
  background:rgba(0, 0, 0, 0.3) ;
  color: #ffffff;
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background:rgba(0, 0, 0, 0.3);
}

/* Checkout Steps */


.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}
@media only screen and (max-width: 600px) {
  .checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 1rem auto;
  }
}
/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  color: #ffffff;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem;
}
.info-cantidadorden{
  color: #ffffff;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;

}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: flex;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}


/*** Contacto*/
.contq{
  top: 5rem;
  background: #0000ff;
}
.header3{
  width: 100%;
  height: 300px;
  text-align: center;
  background-image: url(./public/images/h3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header3:before {
content:'';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.6);
}
.Contxt{
  margin: 10px 0;
}
.contct2{
  top: 2;
  margin: 10px 0;
}


/* inicio*/
#buttonI{
  border: 0.1rem #c0c0c0 solid;
  min-height: 3rem;
}
.notasin{
  max-width: 15rem !important;
  max-height: 10rem !important;
  background: rgba(0, 0, 0, 0.3) !important;
}
.antesD{
  padding: 1rem 1rem; ; 

  border: 0.1rem #c0c0c0 solid;
  border-radius: 2rem;
  width: 70%;
}

.AD{
  padding: 3rem 3rem 0 3rem;

}
.imgAD{
  border-radius: 1rem;
  max-width: 499px;
  max-height:499px ;
}
@media (max-width: 768px){
  .chico{
    flex-direction: column;
  }
  .imgAD{
    max-width: 200px;
    min-height: 20%;
    max-height:500px ;
  }
}
.buttonAD{
  background: #6c6889;
  margin: 10px 0;
  color: #ffffff;
  border-radius: 9px;
  width: 70%;
}
.imgAD1{
  border-radius: 5rem;
  max-width: 35rem;
  max-height: 25rem;

}
@media (max-width: 768px){
  .chico{
    flex-direction: column;
  }
  .imgAD1, .AD1{
    max-width: 200px;
    max-height:300px ;

  }
  .AD1{
    display: block;
    margin: 0px auto;
  }
}
/* contecto*/
.contectanos{
  margin: 5rem ;
  max-width: 50%;
  
}
.contectanos2{
  width: 40%;
}
.nombreform{
border-radius: 4px;
}
.contectanos, .asuntoform{
  border-radius: 20px;

}
@media (max-width: 761px){
  .contac{
    display: block !important;
    
  }
  .contactoR{
    min-width: 20rem;
  }
}



.bradius{
  border-radius: 3rem;
}

.new1{
  border: none;
  outline: none;
  border-bottom:1px solid rgb(255, 255, 255); 
  background: transparent;
  margin: 2rem 0;
  background: #101828;
  width: 100%;
  color: #ffffff;
}

.new1:hover{
  background: #101828;
}
.new2{
  width: 100%;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.3);
}
.enviar{
  border-radius: 2rem;
  color: #ffffff;
}
.Adm{
  top: 3rem;
}
.AmdUser{
  background: rgba(0, 0, 0, 0.3);
  

  
}
.AmdUser:hover{
  background: rgba(0, 0, 0, 3);

}

/* Apartado videos */
.video{
  width: 80%;
  margin: 3rem;
  position: relative;
  background:rgba(0, 0, 0, 0.3) ;
  padding: 2rem;
  border-radius: 2rem;
}
.vidi{
  align-items: center;
}
.sliderr{
text-align: center;
justify-content: center;
}

/* createNote */
.dieta{
  min-height: 7rem !important;

}
.userD{
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
.notecont{
  max-width: 70%;
  min-height: 100%;
}
.comida{
  max-width: 40%;
}
.formformat{
  background: rgba(0, 0, 0, 0.3);
  padding: 3rem;
  border-radius: 2rem;
}
.Contenido1{
  min-height: 10rem !important;
}

@media screen and (max-width: 600px){
  .notecont{
      max-width: 100%;
  }

}

.imgeFrom{
  background: #384558;

}
.react-multi-carousel-list{
  padding-bottom: 2rem;
}
.react-multi-carousel-dot{
  width: 15px;
  height: 15px;
  padding: 7px 7px 7px 7px;
  margin: 1rem;
}
.react-multi-carousel-dot button{
  width: 15px !important;
  height: 15px !important;
}
.sliderback{
	background: rgba(0, 0, 0, 0.3);
	background-image: url(https://cdn.discordapp.com/attachments/626912988858810395/1000254992667648090/unknown.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 1rem;
  padding-bottom: 2rem;
	
}
.sliderback:before {
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.BioA{
  width: 20rem;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}