#body{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url(../../public/images/bg-login.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
ul{
    list-style:none;
}
.e{
    padding: 1rem;
}
.for{
    height: 100%;
}
.box{
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
}
@media (max-width: 768px){
    #body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url(../../public/images/bg-login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    .box{
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 90%;

    padding: 20px 40px;
    }
}